@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$mobileBp: 700px;
$margin: 1em;

.container {
  max-width: $mobileBp;
  margin: auto;
}

.content{
  margin-top: $margin;
}

.trunchate {
  max-width: 100%;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

.columns {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: $margin;
  row-gap: $margin;
  @media screen and (min-width: $mobileBp) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
