@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$mobileBp: 650px;

.container {
  max-width: 700px;
  margin: auto;
}

.content{
  margin-top: 1em;
}

.trunchate {
  max-width: 100%;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

.row {
  display: flex;
  > div {
    width: 50%;
  }
}
