@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$mobileBp: 700px;
$margin: 1em;

.container {
  max-width: $mobileBp;
  margin: auto;
}

.content{
  margin-top: $margin;
}

.columns {
  display: grid;
  margin-top: $margin;
  column-gap: $margin;
  row-gap: $margin;
  grid-template-columns: auto-fit, minmax(0, 1fr);
  @media screen and (min-width: $mobileBp) {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  > div > div {
    margin-bottom: $margin;
  }
}

.trunchate {
  max-width: 100%;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  td > & {
    display: inline;
  }
  display: inline-block;
  overflow: hidden;
}

.scrollx{
  max-width: 100%;
  overflow-y: hidden;
  display: block;
  td > & {
    max-width: 150px;
  }
}
